.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.search {
    background: black;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.results .result {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin: 5px;

    text-align: left;
    /*clear: both;*/

    display: flex;
    /*align-items: center;*/
}

.result .content {
    flex: 1;
    flex-grow: 3;
}

.result .icon {
    display: block;
    /*float: left;*/
    margin-right: 10px;
    height: 40px;
    align-self: stretch;
}